#bodyAbout {
  background: url(./../images/bgAbout.jpg) no-repeat center center fixed;
  background-size: cover;
}

#bodyBackground {
  background: url(./../images/bgBackground.jpg) no-repeat center center fixed;
  background-size: cover;
}

#bodyContact {
  background: url(./../images/bgContact.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* This centers the div on the page without taking the Header and Footer into consideration. Depending on the size of the page depends on if this looks good or not. Eg... When the page is small, the div falls behind the Header and Footer. */
/* .aboutMeInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
} */

.navbar, .footer {
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 9999;
}

div.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.9);
}

.aboutMeInfo {
  background-color: white;
  opacity: 0.90;
}

.skillsThumbnails-img {
  max-width: 100%;
  height: auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}