#bodyAbout {
  background-image: url(./../images/bgAbout.jpg);
}

#bodyBackground {
  background-image: url(./../images/bgBackground.jpg);
}

#bodyContact {
  background-image: url(./../images/bgContact.jpg);
}

#aboutMeContact {
  width: 50%;
}

.navbar, .footer {
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 9999;
}

div.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.9);
}

.aboutMeInfo {
  background-color: white;
  opacity: 0.90;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}