#bodyAbout {
  background: url(./../images/bgAbout.jpg) no-repeat center center fixed;
  background-size: cover;
}

#bodyBackground {
  background: url(./../images/bgBackground.jpg) no-repeat center center fixed;
  background-size: cover;
}

#bodyTechSkills {
  background: url(./../images/bg25.jpg) no-repeat center center fixed;
  background-size: cover;
}

#bodyContact {
  background: url(./../images/bgContact.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* This centers the div on the page without taking the Header and Footer into consideration. Depending on the size of the page depends on if this looks good or not. Eg... When the page is small, the div falls behind the Header and Footer. */
/* .aboutMeInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
} */

.navbar, .footer {
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 9999;
}

div.dropdown-menu, .aboutMeInfo {
  background-color: rgba(255, 255, 255, 0.9);
}

.skillsThumbnails-img {
  max-width: 100%;
  height: auto;
  padding: 15px;
}

.skillsThumbnails-img:hover {
  position: relative;
  transform: scale(1.5);
}

/* This sticky class will be needed later on when I implement a sidebar on most pages that has contact information on it. Specifically a link for my resume and to email me. This allows for that sidebar to scroll down the page when the user scrolls so that it is always visible. */
/* .sticky {
  position: sticky;
  top: 0;
} */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
  max-width: 100%;
  /* transform: scale(1.5); */
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
  /* transform: scale(1.5); */
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	/* padding: 15px; */
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
  /* transform: scale(1.5); */
}

.hvrbox .hvrbox-layer_scale {
	border-radius: 50%;
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.hvrbox:hover .hvrbox-layer_scale,
.hvrbox.active .hvrbox-layer_scale {
	border-radius: 0%;
	/* -moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1); */
	transform: scale(1);
}

.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}